<div class="filtro" >
  <div >
    <form [formGroup]="form">
      <div class="input-data-inic">
        <mat-form-field >
          <mat-label>Data Início</mat-label>
          <input formControlName="dataInicio" matInput type="date">
        </mat-form-field>
      </div>
      <div class="input-data-fim">
        <mat-form-field >
          <mat-label>Data Fim</mat-label>
          <input formControlName="dataFim" matInput type="date">
        </mat-form-field>
      </div>
  <div class="input-nome">
    <mat-form-field >
      <mat-label>Nome Operador</mat-label>
      <input formControlName="nomeOperadorTransacao" matInput type="text">
    </mat-form-field>
  </div>
</form>
</div>
</div>

<div class="btn-pesquisar">
  <button (click)="applyFilter()" mat-raised-button color="primary">Pesquisar</button>
</div>

  <div class="table-transferencia">
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="listaTransferencias" matSort>

      <ng-container matColumnDef="dataTranferencia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
        <td mat-cell *matCellDef="let row"> {{row.dataTranferencia}} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
        <td mat-cell *matCellDef="let row"> {{row.valor}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
        <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
      </ng-container>

      <ng-container matColumnDef="nomeOperadorTransacao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Operador </th>
        <td mat-cell *matCellDef="let row"> {{row.nomeOperadorTransacao}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>
    </table>
  </div>
  </div>
